plaster_pastedeploy
pyramid
pyramid_jinja2
pyramid_debugtoolbar
waitress
alembic
pyramid_retry
pyramid_tm
SQLAlchemy
transaction
zope.sqlalchemy
psycopg2-binary
pyramid_jwt

# Untuk testing
WebTest
pytest
pytest-cov
